.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "image-1 image-1 image-4 image-4 image-4 image-3 image-3"
    "image-1 image-1 image-2 image-2 image-2 image-3 image-3"
    "image-1 image-1 image-2 image-2 image-2 image-5 image-5"
    ". . . . . . ."
    ". . . . . . .";

    img {
      height: 100%;
    }
}

.image-1 { grid-area: image-1; }

.image-2 { grid-area: image-2; }

.image-3 { grid-area: image-3; }

.image-4 { grid-area: image-4; }

.image-5 { grid-area: image-5; }


