@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';


.artwork {
    // background-color: $color-quaternary;
    // height: 75vh;
    // padding: 50px;
    // align-items:center;

    // // overflow: hidden;
    @include pageColumnBasicSetup;



    &-view {
        width:60vw;

        & > div {
            margin: 0 20px;
        }
   
    }

    &-details {
        display:flex;
        // justify-content: space-between;
    }

    &-metadata {
        // width:50%
        margin: 15px;
        @include flexboxColumn;
        // align-items:center;
        // text-align: center;
        & > div {
            margin-bottom:20px
        }
    }

    // &-title {

    // }
    &-image {
        width:50%;
        height: 30vh;
        width: 30vh;
        flex-grow:1;

        overflow: hidden;

     }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;

    }
    // &-description {

    // }
    // &-size {

    // }
    // &-technique {
        
    // }


}