@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.footer {
    height: 5vh;
    min-height: 50px;
    @include flexboxColumn;
    justify-content: center;
    color: $color-base;
    text-transform: uppercase;
    padding: 15px;


    .copyright {
        text-align: center;
    }
}