$color-base:rgb(90, 90, 90);
$color-secondary:rgba(126, 126, 126, 0.9);
$color-tertiary: rgba(248, 248, 248, 0.9);
$color-quaternary: rgb(240, 240, 240);
$gradient: linear-gradient(130deg, rgba(255, 255, 255, 0.034) 50%, rgba(255, 255, 255, 0) 30%, rgba(251, 251, 251, 0.103) 20%);

