@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';
// @import '../../assets/index.js';


.homepage {
  // height:100%;
  // flex-grow:1;
  height:75vh;
  @include flexboxColumn;
  align-items: flex-start;
  padding: 20px 40px;

  background-image: linear-gradient(130deg, rgba(255, 255, 255, 0.034) 50%, rgba(255, 255, 255, 0) 30%, rgba(251, 251, 251, 0.103) 20%), url('../../assets/background/directory-bcg-img.jpg');
  background-position: center;
  background-size: cover;

  .title {
    user-select: none;
    text-transform: uppercase;
    font-weight: lighter;
    color: $color-secondary;



    @media screen and (max-width: 680px) {
      .title {
        color: $color-tertiary
      }
    }
  }
  .subtitle {
    color:rgba(90, 90, 90, 0.781);
  }
}